body {
    margin: 0;
    background-color: #b2e0ff;
    color: black;
    font-family: Roboto, sans-serif;
  }

  ul, a, li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    color: black;
  }